html {
  scroll-behavior: smooth;
}

body {
  background-color: #17252A;
  font-size: 18px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}

header{
  background-color: black;
  padding: 20px;
}

.skip a {
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  position: absolute;
  top: 20px;
  color: black;
  text-decoration-style: solid;
}


.overview {
  background-attachment: fixed;
  /* Parallax effect */
  background-position: center;
  /* Parallax effect */
  background-repeat: no-repeat;
  /* Parallax effect */
  background-size: cover;
  /* Parallax effect */
  color: white;
  /* height: 400px;                Parallax effect */
  padding: 0px 100px 50px 100px;
}


.overview p {
  color: white;
  font-size: 24px;
  text-align: center;
}

h1 {
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  color: white;
}

h2 {
  font-size: 32px;
  line-height: 1.5;
}

nav li {
  display: inline;
  padding-right: 20px;

}

nav a {
  color: white;
  text-decoration: bold;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a *:hover{
  text-decoration: underline;
}


.skip a {
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

nav {
  background-color: black;
  padding: 25px 0;
  text-align: left;
}

nav .active {
  text-decoration: underline;
}

footer {
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-row-gap: 15px;
  grid-column-gap: 20px;
  justify-content: space-evenly;
}

.gallery>img {
  object-fit: center;
  align-self: center;
  width: 100%;
  height: 100%;
}

@media all and (min-width: 1400px){
  .gallery {
    grid-template-columns: 20% 20% 20% 20%;
    width: 100%;
  }
}

.home {
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container img {
  border: solid 10px #50C7C7;
  margin: 10px;
  width: 300px;
  height: 200px;
}

h2{
  text-align: center;
  color: wheat;
}

@media all and (min-width: 900px){
  .container{
    justify-content: center;
  }
  .container img{
    width: 600px;
    height: 400px;
  }
  h2{
    color: white;
  }
}

@media all and (min-width: 1400px){
  .container{
    justify-content: center;
  }
  .container img{
    width: 400px;
    height: 266px;
  }
  h2{
    color: white;
  }
}

.predict img{
  width: 100%;
  height: auto;
}

/* .home {
  grid-area: 1/1/2/5;
}

.GroupA {
  grid-area: 2/1/3/2;
}

.GroupB {
  grid-area: 2/2/3/3;
}

.GroupC {
  grid-area: 2/3/3/4;
}

.GroupD {
  grid-area: 2/4/3/5;
}

.GroupE {
  grid-area: 3/1/4/2;
}

.GroupF {
  grid-area: 3/2/4/3;
}

.GroupG {
  grid-area: 3/3/4/4;
}

.GroupH {
  grid-area: 3/4/4/5;
} */

.list {
  /* text-align: left; */
  text-indent: 4%;
  font-weight: lighter;
  font-size: 40px;
  color: white
}

/* .video1 {
  display: block;
  height: 100%;
  left: 60%;
  position: absolute;
  top: 23%;
}

.video1 p {
  text-align: center;
  font-weight: bold;
}

.video2 {
  display: block;
  height: 100%;
  left: 60%;
  position: absolute;
  top: 62%;
}

.video2 p {
  text-align: center;
  font-weight: bold;
} */

.winner {
  object-fit: center;
  align-self: center;
  width: 100%;
  height: 100%;
}

.list {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  justify-items: center;
}


.name{
  background-color: #018787;
  border-radius: 20px;
  padding: 20px;
  margin: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.name h6{
  text-align: center;
}

.name > img{
  height: 200px;
}

.name p{
  font-size: 20px;
  text-align: center;
}

@media all and (min-width: 900px){
  .list {
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    place-content: center;
    /* align-items: center; */
  }
  .mane{
    grid-column-start: 2;
  }
}

@media all and (min-width: 1400px){
  .list {
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 100%;
  }
  .mane{
    grid-column-start: 5;
  }
}